html, body {
    margin: 0px;
}

#capa{
    background: url("imagens/fundo.jpg");
    background-repeat: no-repeat;
    height: 430px;
    width: 100%;
    text-align: center;
    background-image: cover;
    
}
#titulo{
    color: black;
    padding-top: 130px;
    font-size: 60px;
}
#subtitulo{
    color: black;
    padding-bottom: 8px;
    border-top: 3px black solid;
    margin-left: 30%;
    margin-right: 30%;
}
#botao{
    color: black;
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}
#video{
    padding-top: 10px;
    margin-left: 28%;
    margin-right: 28%;
}
#projeto{
    background: #f7f7f7;
    padding: 20px;
}
#projeto1{
    text-align: center;
    font-size: 30px;
}
#central{
    text-align: justify;
    width: 800px;
    height: 100px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
    font-size: 13px;
}
#conteudo{
    padding: 20px;
    text-align: center;
}
#tituloC{
    text-align: center;
    font-size: 25px;
}
.icone{
    width: 70px;
}
#texto{
    border: 2px ;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-left: 12.5%;
}
#texto2{
    text-align: center;
    width: 300px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#texto3{
    border: 2px;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 10px;
}
#linha{
    height: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    border-top: 5px black solid;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
}
#producao{
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: 18px;
    background: #f7f7f7;
    margin-top: 50px;
}
.imgProd{
    width: 60%;
    border-radius: 8px;

}
#sobre{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
}
#minha{
    width: 20%;
    border-radius: 8px;
}
